<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jonada.challengerunning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.AppBarOverlay"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".RunSessionActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme"
            android:label="Test"/>
        <activity android:name=".NewChallengeActivity" />
        <activity android:name=".AddFriendActivity"/>
        <activity android:name=".FriendsActivity"/>
        <activity android:name=".LeaderbordActivity"/>
        <activity android:name=".WinnerActivity"/>
        <activity android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>